<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'books/list' %>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td>
              <% if user.profile_image.attached? %>
                  <%= link_to(image_tag(url_for(user.profile_image), class: "profile_image"), user_path(user)) %>
                <% else %>
                  <%= link_to(image_tag("default-image.jpg", class: "profile_image"), user_path(user)) %>
                <% end %>
            </td>
            <td>
              <%= user.name %>
            </td>
            <td>
              <%= link_to "Show", user_path(current_user) %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
