
<div class="container">
    <div class="row">
      <%= render 'list', user: @book.user, book: @book_new %>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table table-hover table-inverse">
          <tbody>
              <tr>
                <td>
                  <% if @book.user.profile_image.attached? %>
                    <%= link_to(image_tag(url_for(@book.user.profile_image), class: "profile_image",width: 100, height: 100), user_path(@book.user)) %>
                  <% else %>
                    <%= link_to(image_tag("default-image.jpg", class: "profile_image"), user_path(@book.user)) %>
                  <% end %><br>
                  <%= link_to @book.user.name, user_path(@book.user) %>
                </td>
                <td>
                  <%=link_to @book.title, book_path(@book) %>
                </td>
                <td>
                  <%= @book.body %>
                </td>
                <td>
                  <%= render 'favorites/favorite', book: @book%>
                </td>
                 <td>
                  コメント数： <%= @book.book_comments.count %>
                </td>
                <td>
                  <% if @book.user == current_user %>
                    <%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %>
                  <% end %>
                </td>
                <td>
                  <% if @book.user == current_user %>
                     <%= link_to "Destroy", @book, method: :delete, data: {confirm: "Are you Sure?"}, class: "btn btn-sm btn-danger" %>
                  <% end %>
                </td>
              </tr>
          </tbody>
        </table>
        <%= render "book_comments/index", book: @book %>
        <%= render "book_comments/form", book: @book, book_comment: @book_comment %>
      </div>
    </div>
</div>